$background: #ddd;

body {
  padding-top: 70px;
  background-color: $background
    url('./136896620-a-yellow-rope-or-a-mooring-line-on-a-ship-the-colour-contrast-of-blue-and-yellow-is-beautiful-and-in.jpg');
  transform: translateX(20px);
}
